@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .border-gold-transition {
    @apply transition duration-300 ease-out border-transparent hover:border-lightGold;
  }
  .gradient-gold {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-lightGold to-darkGold;
  }
  .gradient-blue {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-lightBlue to-skyBlue;
    /* @apply text-transparent bg-clip-text bg-gradient-to-r from-[#6cc9f5] to-[#639ef7]; */
  }
  .gradient-dark-blue {
    @apply bg-gradient-to-br from-[#091428] via-[#003551] to-[#091428];
  }
}

@font-face {
  font-family: 'BeaufortforLOL';
  src: url('./assets/fonts/BeaufortforLOL-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'BeaufortforLOL';
  src: url('./assets/fonts/BeaufortforLOL-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'BeaufortforLOL';
  src: url('./assets/fonts/BeaufortforLOL-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'BeaufortforLOL', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply flex flex-col items-center;
  @apply bg-black  text-white;
  @apply w-screen h-screen;
}

#root {
  @apply w-full max-w-screen-xl;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
}

input {
  padding: 6px;
  border: none;
  border-radius: 4px;
  outline: 2px solid transparent;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  @apply bg-black;
}
input:focus {
  font-weight: 400;
  outline: 1px solid gold;
}

textarea {
  padding: 10px;
  font-weight: normal;
  font-size: 18px;
}
textarea:focus {
  outline: none;
  border: none;
}
