@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'BeaufortforLOL';
  src: url('./assets/fonts/BeaufortforLOL-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'BeaufortforLOL';
  src: url('./assets/fonts/BeaufortforLOL-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'BeaufortforLOL';
  src: url('./assets/fonts/BeaufortforLOL-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'BeaufortforLOL', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply flex flex-col items-center;
  @apply bg-black  text-white;
  @apply w-screen h-screen;
}

#root {
  @apply w-full max-w-screen-xl;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
